* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

/*** NAV BAR ***/

nav {
	background-color: #f8d9d1;
	display: flex;
	flex-wrap : nowrap;
	flex-direction : row;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	z-index: 10;
	/*height: 95px;*/
}

nav > * {
  display : flex;
  flex-direction : row;
}

.nav-links, .nav-btns {
	margin-top: 10px;
}

#nav-logo img {
	height: 90px;
	width: auto;
}

nav a {
 	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	text-decoration: none;
}

.nav-links a {
	color: #000000;
	margin: 0 35px;
}

.nav-links a:hover {
	color: #ed462f;
}

.nav-btns a {
	color: #ed462f;
	background-color: white;
	border: 3px solid #ed462f;
	padding: 13px 35px;
	margin: 0 8px;
}

/*** MAIN ***/

.title {
	font-family: 'Oswald', sans-serif;
}

.text {
	font-family: 'Chivo', sans-serif;
}

#section1 {
  background-image: url("images/background_ada1.jpg");
  background-attachment: local; 
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.bandeau-rouge {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ed462f;
	height: 108px;
	color: white;
	margin-top: 95px;
}

.bandeau-rouge .title {
	font-size: 21px;
	margin-bottom: 5px;
}

.bandeau-rouge .text {
	font-size: 17px;
}

.bandeau-rouge a {
	color: black;
	text-decoration: underline;
	font-weight: 700;
}

.rectangle-blanc {
	background-color: white;
	position: relative;
	right: 1%;
	height : 329px;
	width : 541px;
	text-align: center;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	padding: 40px 0 ;
}

.rectangle-blanc h1 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 48px;
	font-weight: 500;
}

.rectangle-blanc p {
	font-family: 'Chivo', sans-serif;
	font-size: 20px;
	font-weight: 400;
	padding: 0 70px;
}

/*** FOOTER ***/

footer a, footer p, footer i {
	color: white;
	font-family: 'Chivo', sans-serif;
	font-size: 18px;
	text-align: center;
}
footer a:hover {
  text-decoration: underline;
}
footer i {
	border-radius: 50%;
	border-color: white;
	border: solid;
	width: 40px;
	height: 40px;
	margin: 5px;
}

.footer-links p {
	font-weight: 700;
}

.footer-banderole img {
	width: 100%;
}

.footer-banderole {
  background-color : #ed462f;
}

.footer-items {
	background-color: #ed462f;
	display: flex;
	justify-content: space-around;
}

.footer-items > * {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-logos #logo-datadock {
	width: 80px;
}

.footer-logos #logo-poleemploi {
	width: 100px;
}

.footer-icons {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.fa-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 768px) {
  .footer-items {
    display : flex;
    flex-direction : column;
  }
  .footer-items > * {
    margin: 10px;
  }

  .footer-links > * {
    margin: 2px;
  }

  .nav-btns, .nav-links {
    display : none
  }
}
